div(ng-repeat='profile in profiles')
	.d-flex.flex-row
		.mr-auto.p-2
			img(src='{{profile.avatar.URL}}',alt='Card image cap').card-img-top.rounded-circle.img-fluid
			p {{profile.username}}
		.p-2
			div(class='btn-group',role='group',aria-label='Basic Example')
				a(href='profiles/view/{{profile._id}}').btn.btn-sm.btn-primary 
					i(aria-hidden="true",data-toggle="tooltip",data-placement="top",title="View profile").fa.fa-eye
				a(class='btn btn-sm btn-primary',href='profile/update/{{profile._id}}') 
					i(aria-hidden="true",data-toggle="tooltip",data-placement="top",title="Update profile").fa.fa-pencil
				button(class='btn btn-sm btn-primary',ng-click='deleteProfile(profile._id)',value='button') 
					i(aria-hidden="true",data-toggle="tooltip",data-placement="top",title="Delete profile").fa.fa-trash 
	.d-flex.flex-row
		.mr-auto.p-2
			p {{profile.body}}
//- hr
//- .container
//- 	include ../forms/profileForm.jade