extends layout

block body
  include ./partials/navbar.jade   
  div(ng-controller='MainCtrl as main',ng-show='main.title').jumbotron
    .container  
      h1(ng-bind='main.title',ng-show='main.title')
      span(ng-show='main.isLoggedIn',ng-cloak).badge.badge-pill.badge-success Logged in
      span(ng-hide='main.isLoggedIn',ng-cloak).badge.badge-pill.badge-danger not logged in
  div(data-loading,align='center').loading
    i(aria-hidden="true").fa.fa-refresh.fa-spin.fa-3x.fa-fw
  div(ng-view).container
  hr  
  .container
    | Whatif app version: v
    span(app-version)

  //- script(src='js/lib/angular/angular.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.4.5/angular-touch.min.js')
  //- script(src='js/lib/angular/angular-route.js')
  //- script(src='https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js')
  //- script(src='js/app.js')
  //- script(src='js/services.js')
  //- script(src='js/controllers.js')
  //- script(src='js/loginControllers.js')
  //- script(src='js/messageControllers.js')
  //- script(src='js/profileControllers.js')
  //- script(src='js/factoryControllers.js')
  //- script(src='js/adminControllers.js')
  //- script(src='js/filters.js')
  //- script(src='js/directives.js')
  //- script(src='js/app.min.js')
  script(src='js/gruntapp.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  //- script(src='js/lib/angular-underscore/angular-underscore-module.js')
  //- script(src='js/lib/ui-bootstrap/ui-bootstrap-2.5.0.min.js')
  //- script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
  script(src='//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js')
  //- script(src='js/lib/angular-re-captcha/angular-re-captcha.js')
  //- script(src='js/lib/angular-recaptcha/angular-recaptcha.min.js')
  //- script(src='js/lib/jquery/jquery-2.0.3.min.js')
  //- script(src='bootstrap/js/bootstrap.min.js')
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js',integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n',crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js',integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb',crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js',integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn',crossorigin='anonymous')
