extends layout

block append body
	include ./partials/navbar.jade   
	div(ng-controller='MainCtrl as main')
		div(ng-show='main.templateurl!="partials/ws/viewworkshop" && main.templateurl!="partials/ws/viewworkshop1" && main.templateurl!="partials/ws/viewworkshop2"').jumbotron
			h1(ng-bind='main.title',ng-show='main.title')
			span(ng-show='isLoggedIn',ng-cloak).badge.badge-pill.badge-success Logged in
			span(ng-hide='isLoggedIn',ng-cloak).badge.badge-pill.badge-danger not logged in
	div(data-loading,align='center').loading
		i(aria-hidden="true").fa.fa-refresh.fa-spin.fa-3x.fa-fw
	div(ng-controller='PathCtrl as path',ng-class="{ 'container': path.templateurl!='partials/ws/viewworkshop' && path.templateurl!='partials/ws/viewworkshop1', 'container-fluid': path.templateurl==='partials/ws/viewworkshop' || path.templateurl==='partials/ws/viewworkshop1' }")
		div(ng-view)
	//- hr  
	//- .container
	//-   | Whatif..! version: v
	//-   span(app-version)
block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.4.5/angular-touch.min.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/loginControllers.js')
	script(src='js/messageControllers.js')
	script(src='js/profileControllers.js')
	script(src='js/factoryControllers.js')
	script(src='js/workshopControllers.js')
	script(src='js/adminControllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
	//- script(src='js/app.min.js')
	//- script(src='js/gruntapp.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script(src='js/lib/angular-underscore/angular-underscore-module.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-2.5.0.min.js')
	script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
	script(src='//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js')
	script(src='js/lib/angular-recaptcha/angular-recaptcha.min.js')
	//- script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js',integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n',crossorigin='anonymous')
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js',integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb',crossorigin='anonymous')
	//- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js',integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn',crossorigin='anonymous')
	script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js",integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js",integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh",crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js",integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ",crossorigin="anonymous")
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js')
	//- Infolinks support
	//- script.
	//-   var infolinks_pid = 3047559; 
	//-   var infolinks_wsid = 0;
	//- script(type="text/javascript",src="//resources.infolinks.com/js/infolinks_main.js")
