!!!
html(lang='en')
  head
    meta(charset='utf8')
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name="theme-color",content="#97bbcd")
    base(href='/')
    title Whatif..!
    //- link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css',integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ',crossorigin='anonymous')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')
    //-<!-- Global site tag (gtag.js) - Google Analytics -->
    //- script(async,src='https://www.googletagmanager.com/gtag/js?id=UA-108274055-1')
    script(async,src='/js/lib/googleanalitics.js')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108274055-1');
    //- Google Adsense
    //- script(async,src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    //- Google Adsense
    //- script.
    //-   (adsbygoogle = window.adsbygoogle || [])
    //-   .push({google_ad_client:"ca-pub-9045959223020007",enable_page_level_ads: true});
    //- script(type='text/javascript',src='//pl14385184.puserving.com/f2/1e/54/f21e541e044c6e6c850b7cef59cc4fd6.js')

    //- script(src='https://use.fontawesome.com/5d2314b8fb.js')
    block extraHeader
  body(ng-app='whatif').app
    block body
    block scripts
