li(role="menuitem",ng-if="::boundaryLinks",ng-class="{disabled: noPrevious()||ngDisabled}").pagination-first
  a(href,ng-click="selectPage(1, $event)",ng-disabled="noPrevious()||ngDisabled",uib-tabindex-toggle) {{::getText('first')}}
li(role="menuitem",ng-if="::directionLinks",ng-class="{disabled: noPrevious()||ngDisabled}").pagination-prev
  a(href,ng-click="selectPage(page - 1, $event)",ng-disabled="noPrevious()||ngDisabled",uib-tabindex-toggle) {{::getText('previous')}}
li(role="menuitem",ng-repeat="page in pages track by $index",ng-class="{active: page.active,disabled: ngDisabled&&!page.active}").pagination-page
  a(href,ng-click="selectPage(page.number, $event)",ng-disabled="ngDisabled&&!page.active",uib-tabindex-toggle) {{page.text}}
li(role="menuitem",ng-if="::directionLinks",ng-class="{disabled: noNext()||ngDisabled}").pagination-next
  a(href,ng-click="selectPage(page + 1, $event)",ng-disabled="noNext()||ngDisabled",uib-tabindex-toggle) {{::getText('next')}}<
li(role="menuitem",ng-if="::boundaryLinks",ng-class="{disabled: noNext()||ngDisabled}").pagination-last
  a(href,ng-click="selectPage(totalPages, $event)",ng-disabled="noNext()||ngDisabled",uib-tabindex-toggle) {{::getText('last')}}
