form(name='form',method='put',novalidate)
	div(ng-show='vm.success',class="alert alert-success",role="alert")
		strong Well done! {{vm.success}}
	div(ng-show='vm.error',class="alert alert-danger",role="alert")
		strong Oh no! {{vm.error}}
	div(class='btn-group',role='group',aria-label='Basic Example')
		a(ng-if='vm.message.isparent',href='messages/view/message/{{vm.message._id}}').btn.btn-sm.btn-primary
			i(aria-hidden="true",data-toggle="tooltip",data-placement="top",title="Back to message view").fa.fa-arrow-left
		a(ng-if='vm.message.iscomment',href='messages/view/comment/{{vm.message._id}}').btn.btn-sm.btn-primary
			i(aria-hidden="true",data-toggle="tooltip",data-placement="top",title="Back to comment view").fa.fa-arrow-left
	div(ng-class="{ 'has-danger' : form.title.$invalid && !form.title.$pristine , 'has-success' : form.title.$valid && !form.title.$pristine }").form-group
		label.col-form-label title 
		input(ng-class="{ 'form-control-danger' : form.title.$invalid && !form.title.$pristine , 'form-control-success' : form.title.$valid && !form.title.$pristine }",type='text',name='title',id='title',placeholder='title',ng-model='vm.message.title',required).form-control
		div(class='form-control-feedback',ng-show='form.title.$error.required') Required!
	div(ng-class="{ 'has-danger' : form.body.$invalid && !form.body.$pristine , 'has-success' : form.body.$valid && !form.body.$pristine }").form-group
		label(class='form-control-label',for='body') body 
		textarea(ng-class="{ 'form-control-danger' : form.body.$invalid && !form.body.$pristine , 'form-control-success' : !form.body.$invalid && !form.body.$pristine }",rows='6',class='form-control',type='text',name='body',id='body',placeholder='body',ng-model='vm.message.body',required)
		div(class='form-control-feedback',ng-show='form.author.$error.required') Required!
	div(ng-class="{ 'has-danger' : form.author.$invalid && !form.author.$pristine , 'has-success' : form.author.$valid && !form.author.$pristine }").form-group
		label(class='form-control-label',for='author') author 
		input(ng-class="{ 'form-control-danger' : form.author.$invalid && !form.author.$pristine , 'form-control-success' : !form.author.$invalid && !form.author.$pristine }",class='form-control',type='text',name='author',id='author',placeholder='author',ng-model='vm.message.author',required)
		div(class='form-control-feedback',ng-show='form.author.$error.required') Required!
	input(ng-show='vm.message.isparent',type='submit',ng-click='vm.updateMessage(vm.message._id)',value='submit',ng-disabled='form.$invalid').btn.btn-sm.btn-primary
	input(ng-show='vm.message.iscomment',type='submit',ng-click='vm.updateComment(vm.message._id)',value='submit',ng-disabled='form.$invalid').btn.btn-sm.btn-primary