script(id='pagination.html',type='text/ng-template',ng-hide='vm.searchresults')
	ul.pagination
		li(role="menuitem",ng-if="::boundaryLinks",ng-class="{disabled: noPrevious()||ngDisabled}").page-item
			button(ng-click="selectPage(1,$event)",ng-disabled="noPrevious()||ngDisabled",uib-tabindex-toggle).page-link {{::getText('first')}}
		li(role="menuitem",ng-if="::directionLinks",ng-class="{disabled: noPrevious()||ngDisabled}").page-item
			button(ng-click="selectPage(page-1,$event)",ng-disabled="noPrevious()||ngDisabled",uib-tabindex-toggle).page-link {{::getText('previous')}}
		li(role="menuitem",ng-repeat="page in pages track by $index",ng-class="{active: page.active,disabled: ngDisabled&&!page.active}").page-item
			button(ng-click="selectPage(page.number,$event)",ng-disabled="ngDisabled&&!page.active",uib-tabindex-toggle).page-link {{page.text}}
		li(role="menuitem",ng-if="::directionLinks",ng-class="{disabled: noNext()||ngDisabled}").page-item
			button(ng-click="selectPage(page+1,$event)",ng-disabled="noNext()||ngDisabled",uib-tabindex-toggle).page-link {{::getText('next')}}
		li(role="menuitem",ng-if="::boundaryLinks",ng-class="{disabled: noNext()||ngDisabled}").page-item
			button(ng-click="selectPage(totalPages,$event)",ng-disabled="noNext()||ngDisabled",uib-tabindex-toggle).page-link {{::getText('last')}}
ul(uib-pagination,ng-hide='vm.searchresults',ng-change="pageChanged()",total-items='vm.totalmsgs',ng-model='vm.currentpage',rotate='true',force-ellipses='true',max-size='maxSize',class='pagination-sm',boundary-links='true',template-url='pagination.html')
div(class='card',ng-repeat='message in vm.messages | filter:search.text')
	h3.card-header.text-center Featured
	.card-block.justify-content-end
		.d-flex.flex-row
			.mr-auto.p-2
				h4(ng-bind-html="message.title | highlight:vm.searchvalue").card-title {{message.title}}
				span.badge.badge-pill.badge-primary hits : {{message.hits}}
			.p-2
				div(class='btn-group',role='group',aria-label='Basic Example')
					a(href='messages/view/message/{{message._id}}').btn.btn-sm.btn-primary 
						i(aria-hidden='true',data-toggle='tooltip',data-placement='top',title='View message').fa.fa-eye
					a(href='message/update/{{message._id}}',ng-if='$parent.vm.isLoggedIn').btn.btn-sm.btn-primary
						i(aria-hidden='true',data-toggle='tooltip',data-placement='top',title='Update message').fa.fa-pencil
					//- button(ng-click='deleteMessage(message._id)',value='button').btn.btn-sm.btn-primary 
					//- 	i(aria-hidden="true",data-toggle="tooltip",data-placement="top",title="Delete message").fa.fa-trash
					button(type='button',data-toggle='modal',data-target='#Modal{{message._id}}',ng-if='vm.isLoggedIn').btn.btn-sm.btn-primary 
						i(aria-hidden='true',data-toggle='tooltip',data-placement='top',title='Delete message').fa.fa-trash
		p(class='card-text',ng-bind-html="message.body | highlight:vm.searchvalue") {{message.body}}
		a(href='#').btn.btn-primary Go somewhere
		//- Modal goes here
		div(id='Modal{{message._id}}',tabindex='-1',role='dialog',aria-labelledby='Modal{{message._id}}Label',aria-hidden='true').modal.fade
			div(role='document').modal-dialog
				.modal-content
					.modal-header
						h5.modal-title Delete item?
						button(type='button',data-dismiss='modal',aria-label='Close').close
							span(aria-hidden='true') &times;
					.modal-body Are you sure you want to delete item with name: {{message.title}}?
					.modal-footer
						button(type='button',data-dismiss='modal').btn.btn-secondary Cancel
						button(ng-click='vm.deleteMessage(message._id)',value='button',data-dismiss='modal').btn.btn-primary Delete item
		//- end of modal
	div(ng-repeat='child in message.childs').card-footer.text-muted.justify-content-end
			.d-flex.flex-row
				.mr-auto.p-2
					p(ng-show='child.title') title: {{child.title}}
				.p-2
					div(class='btn-group',role='group',aria-label='Basic Example')
						a(class='btn btn-sm btn-primary',href='comment/update/{{child._id}}',ng-if='$parent.vm.isLoggedIn') 
							i(aria-hidden='true',data-toggle='tooltip',data-placement='top',title='Update comment').fa.fa-pencil
						//- button(ng-show='child.title',class='btn btn-sm btn-primary',ng-click='deleteComment(child._id)',value='button')
						//- 	i(aria-hidden='true',data-toggle='tooltip',data-placement='top',title='Delete message').fa.fa-trash
						button(type='button',data-toggle='modal',data-target='#Modal{{child._id}}',ng-if='vm.isLoggedIn').btn.btn-sm.btn-primary 
							i(aria-hidden='true',data-toggle='tooltip',data-placement='top',title='Delete message').fa.fa-trash
			p {{child.body}}
			//- Modal goes here
			div(id='Modal{{child._id}}',tabindex='-1',role='dialog',aria-labelledby='Modal{{child._id}}Label',aria-hidden='true').modal.fade
				div(role='document').modal-dialog
					.modal-content
						.modal-header
							h5.modal-title Delete item?
							button(type='button',data-dismiss='modal',aria-label='Close').close
								span(aria-hidden='true') &times;
						.modal-body Are you sure you want to delete item with name: {{child.title}}?
						.modal-footer
							button(type='button',data-dismiss='modal').btn.btn-secondary Cancel
							button(ng-click='vm.deleteComment(child._id)',value='button',data-dismiss='modal').btn.btn-primary Delete item
			//- end of modal
	.card-footer.text-muted
		include ../forms/commentForm.jade
hr
.container
	include ../forms/messageForm.jade
div(id='exampleModal',tabindex='-1',role='dialog',aria-labelledby='exampleModalLabel',aria-hidden='true').modal.fade
	div(role='document').modal-dialog
		.modal-content
			.modal-header
				h5(id='exampleModalLabel').modal-title Delete item?
				button(type='button',data-dismiss='modal',aria-label='Close').close
					span(aria-hidden='true') &times;
			.modal-body
			.modal-footer
				button(type='button',data-dismiss='modal').btn.btn-secondary Cancel
				button(type='button').btn.btn-primary Delete item
