form(name='form',method='post',novalidate)
	div(ng-class="{ 'has-danger' : form.title.$invalid && !form.title.$pristine , 'has-success' : form.title.$valid && !form.title.$pristine }").form-group.row
		//- label.col-sm-2.col-form-label.col-form-label-sm title
		input(ng-class="{ 'form-control-danger' : form.title.$invalid && !form.title.$pristine , 'form-control-success' : form.title.$valid && !form.title.$pristine }",type='text',name='title',id='title',placeholder='title',ng-model='child.form.title',required).form-control.form-control-sm
	div(ng-class="{ 'has-danger' : form.body.$invalid && !form.body.$pristine , 'has-success' : form.body.$valid && !form.body.$pristine }").form-group.row
		//- label.col-form-label body
		input(ng-class="{ 'form-control-danger' : form.body.$invalid && !form.body.$pristine , 'form-control-success' : form.body.$valid && !form.body.$pristine }",type='text',name='body',id='body',placeholder='body',ng-model='child.form.body',required).form-control.form-control-sm
	div(ng-class="{ 'has-danger' : form.author.$invalid && !form.author.$pristine , 'has-success' : form.author.$valid && !form.author.$pristine }").form-group.row
		//- label.col-form-label author
		input(ng-class="{ 'form-control-danger' : form.author.$invalid && !form.author.$pristine , 'form-control-success' : form.author.$valid && !form.author.$pristine }",type='text',name='author',id='author',placeholder='author',ng-model='child.form.author',required).form-control.form-control-sm
	.form-group.row
		input(type='submit',ng-disabled='form.$invalid',ng-click='createComment(child,message._id)',value='submit').btn.btn-sm.btn-primary