div(class='card')
	h3.card-header.text-center Factory
	.card-block.justify-content-end
		.d-flex.flex-row
			.mr-auto.p-2
				h4.card-title {{vm.factory.title}} - {{vm.factory._id}}
			.p-2
				div(class='btn-group',role='group',aria-label='Basic Example')
					//- a(href='factorys/view/factory/{{factory._id}}').btn.btn-sm.btn-primary view 
					a(href='factories/update/{{vm.factory._id}}').btn.btn-sm.btn-primary update 
					button(ng-click='deletefactory(vm.factory._id)',value='button').btn.btn-sm.btn-primary delete 
		p(class='card-text') {{vm.factory.body}}
		a(href='#').btn.btn-primary Go somewhere
	div(ng-repeat='member in vm.factory.members').card-footer.text-muted.justify-content-end
			.d-flex.flex-row
				.mr-auto.p-2
					p(ng-show='member.username') username: {{member.username}} {{member._id}}
				.p-2
			p {{member.username}}
	//- .card-footer.text-muted
	//- 	include ../forms/factoryForm.jade