block extraHeader
  //- link(rel='stylesheet', href='/css/test.css')
  // Bootstrap CSS
  link(rel='stylesheet', href='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/bootstrap/css/bootstrap.min.css')
  // Font Awesome CSS
  link(rel='stylesheet', href='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/font-awesome/css/font-awesome.min.css')
  // Custom icon font
  link(rel='stylesheet', href='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/css/fontastic.css')
  // Google fonts - Roboto
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
  // jQuery Circle
  link(rel='stylesheet', href='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/css/grasp_mobile_progress_circle-1.0.0.min.css')
  // Custom Scrollbar
  link(rel='stylesheet', href='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
  // theme stylesheet
  link#theme-stylesheet(rel='stylesheet', href='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/css/style.default.css')
  // Custom stylesheet - for your changes
  link(rel='stylesheet', href='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/css/custom.css')
// Side Navbar
nav.side-navbar
  .side-navbar-wrapper
    .sidenav-header.d-flex.align-items-center.justify-content-center
      .sidenav-header-inner.text-center
        //- img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-1.jpg', alt='person')
        //- h2.h5.text-uppercase Anderson Hardy
        //- span.text-uppercase Web Developer
        span info goes here
      .sidenav-header-logo
        a.brand-small.text-center(href='index.html')
          strong B
          strong.text-primary D
    .main-menu
      ul#side-main-menu.side-menu.list-unstyled
        li.active
          a(href='index.html')
            i.icon-home
            span Home
        li
          a(href='forms.html')
            i.icon-form
            span Forms
        li
          a(href='charts.html')
            i.icon-presentation
            span Charts
        li
          a(href='tables.html')
            i.icon-grid  
            span Tables  
        li
          a(href='login.html')
            i.icon-interface-windows
            span Login page                        
        li
          a(href='#')
            i.icon-mail
            span Demo
            .badge.badge-warning 6 New
    .admin-menu
      ul#side-admin-menu.side-menu.list-unstyled
        li
          a(href='#pages-nav-list', data-toggle='collapse', aria-expanded='false')
            i.icon-interface-windows
            span Dropdown
            .arrow.pull-right
              i.fa.fa-angle-down
          ul#pages-nav-list.collapse.list-unstyled
            li
              a(href='#') Page 1
            li
              a(href='#') Page 2
            li
              a(href='#') Page 3
            li
              a(href='#') Page 4
        li
          a(href='#')
            i.icon-screen  
            span Demo
        li
          a(href='#')
            i.icon-flask  
            span Demo
            .badge.badge-info Special
        li
          a(href='')
            i.icon-flask  
            span Demo
        li
          a(href='')
            i.icon-picture  
            span Demo
.page.home-page
  //- // navbar
  //- header.header
  //-   nav.navbar
  //-     .container-fluid
  //-       .navbar-holder.d-flex.align-items-center.justify-content-between
  //-         .navbar-header
  //-           a#toggle-btn.menu-btn(href='#')
  //-             i.icon-bars  
  //-           a.navbar-brand(href='index.html')
  //-             .brand-text.d-none.d-md-inline-block
  //-               span Bootstrap 
  //-               strong.text-primary Dashboard
  //-         ul.nav-menu.list-unstyled.d-flex.flex-md-row.align-items-md-center
  //-           li.nav-item.dropdown
  //-             a#notifications.nav-link(rel='nofollow', data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
  //-               i.fa.fa-bell
  //-               span.badge.badge-warning 12
  //-             ul.dropdown-menu(aria-labelledby='notifications')
  //-               li
  //-                 a.dropdown-item(rel='nofollow', href='#')
  //-                   .notification.d-flex.justify-content-between
  //-                     .notification-content
  //-                       i.fa.fa-envelope
  //-                       | You have 6 new messages
  //-                     .notification-time
  //-                       small 4 minutes ago
  //-               li
  //-                 a.dropdown-item(rel='nofollow', href='#')
  //-                   .notification.d-flex.justify-content-between
  //-                     .notification-content
  //-                       i.fa.fa-twitter
  //-                       | You have 2 followers
  //-                     .notification-time
  //-                       small 4 minutes ago
  //-               li
  //-                 a.dropdown-item(rel='nofollow', href='#')
  //-                   .notification.d-flex.justify-content-between
  //-                     .notification-content
  //-                       i.fa.fa-upload
  //-                       | Server Rebooted
  //-                     .notification-time
  //-                       small 4 minutes ago
  //-               li
  //-                 a.dropdown-item(rel='nofollow', href='#')
  //-                   .notification.d-flex.justify-content-between
  //-                     .notification-content
  //-                       i.fa.fa-twitter
  //-                       | You have 2 followers
  //-                     .notification-time
  //-                       small 10 minutes ago
  //-               li
  //-                 a.dropdown-item.all-notifications.text-center(rel='nofollow', href='#')
  //-                   strong
  //-                     i.fa.fa-bell
  //-                     | view all notifications
  //-           li.nav-item.dropdown
  //-             a#messages.nav-link(rel='nofollow', data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
  //-               i.fa.fa-envelope
  //-               span.badge.badge-info 10
  //-             ul.dropdown-menu(aria-labelledby='notifications')
  //-               li
  //-                 a.dropdown-item.d-flex(rel='nofollow', href='#')
  //-                   .msg-profile
  //-                     img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-1.jpg', alt='...')
  //-                   .msg-body
  //-                     h3.h5 Jason Doe
  //-                     span sent you a direct message
  //-                     small 3 days ago at 7:58 pm - 10.06.2014
  //-               li
  //-                 a.dropdown-item.d-flex(rel='nofollow', href='#')
  //-                   .msg-profile
  //-                     img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-2.jpg', alt='...')
  //-                   .msg-body
  //-                     h3.h5 Frank Williams
  //-                     span sent you a direct message
  //-                     small 3 days ago at 7:58 pm - 10.06.2014
  //-               li
  //-                 a.dropdown-item.d-flex(rel='nofollow', href='#')
  //-                   .msg-profile
  //-                     img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-3.jpg', alt='...')
  //-                   .msg-body
  //-                     h3.h5 Ashley Wood
  //-                     span sent you a direct message
  //-                     small 3 days ago at 7:58 pm - 10.06.2014
  //-               li
  //-                 a.dropdown-item.all-notifications.text-center(rel='nofollow', href='#')
  //-                   strong
  //-                     i.fa.fa-envelope
  //-                     | Read all messages
  //-           li.nav-item
  //-             a.nav-link.logout(href='login.html')
  //-               | Logout
  //-               i.fa.fa-sign-out
  // Counts Section
  section.dashboard-counts.section-padding
    .container-fluid
      .row
        .col-xl-2.col-md-4.col-6
          .wrapper.count-title.d-flex
            .icon
              i.icon-user
            .name
              strong.text-uppercase New Clients
              span Last 7 days
              .count-number 25
        .col-xl-2.col-md-4.col-6
          .wrapper.count-title.d-flex
            .icon
              i.icon-padnote
            .name
              strong.text-uppercase Work Orders
              span Last 5 days
              .count-number 400
        .col-xl-2.col-md-4.col-6
          .wrapper.count-title.d-flex
            .icon
              i.icon-check
            .name
              strong.text-uppercase New Quotes
              span Last 2 months
              .count-number 342
        .col-xl-2.col-md-4.col-6
          .wrapper.count-title.d-flex
            .icon
              i.icon-bill
            .name
              strong.text-uppercase New Invoices
              span Last 2 days
              .count-number 123
        .col-xl-2.col-md-4.col-6
          .wrapper.count-title.d-flex
            .icon
              i.icon-list
            .name
              strong.text-uppercase Open Cases
              span Last 3 months
              .count-number 92
        .col-xl-2.col-md-4.col-6
          .wrapper.count-title.d-flex
            .icon
              i.icon-list-1
            .name
              strong.text-uppercase New Cases
              span Last 7 days
              .count-number 70
  // Header Section
  section.dashboard-header.section-padding
    .container-fluid
      .row.d-flex.align-items-md-stretch
        // To Do List
        .col-lg-3.col-md-6
          .wrapper.to-do
            header
              h2.display.h4 To do List
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            ul.check-lists.list-unstyled
              li.d-flex.align-items-center
                input#list-1.form-control-custom(type='checkbox', name='list-1')
                label(for='list-1') Similique sunt in culpa qui officia
              li.d-flex.align-items-center
                input#list-2.form-control-custom(type='checkbox', name='list-2')
                label(for='list-2') Ed ut perspiciatis unde omnis iste
              li.d-flex.align-items-center
                input#list-3.form-control-custom(type='checkbox', name='list-3')
                label(for='list-3') At vero eos et accusamus et iusto 
              li.d-flex.align-items-center
                input#list-4.form-control-custom(type='checkbox', name='list-4')
                label(for='list-4') Explicabo Nemo ipsam voluptatem
              li.d-flex.align-items-center
                input#list-5.form-control-custom(type='checkbox', name='list-5')
                label(for='list-5') Similique sunt in culpa qui officia
              li.d-flex.align-items-center
                input#list-6.form-control-custom(type='checkbox', name='list-6')
                label(for='list-6') At vero eos et accusamus et iusto 
              li.d-flex.align-items-center
                input#list-7.form-control-custom(type='checkbox', name='list-7')
                label(for='list-7') Similique sunt in culpa qui officia
              li.d-flex.align-items-center
                input#list-8.form-control-custom(type='checkbox', name='list-8')
                label(for='list-8') Ed ut perspiciatis unde omnis iste
        // Pie Chart
        .col-lg-3.col-md-6
          .wrapper.project-progress
            h2.display.h4 Project Beta progress
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .pie-chart
              canvas#pieChart
        // Line Chart
        .col-lg-6.col-md-12.flex-lg-last.flex-md-first.align-self-baseline
          .wrapper.sales-report
            h2.display.h4 Sales marketing report
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet officiis
            .line-chart
              canvas#lineCahrt
  // Statistics Section
  section.statistics.section-padding.section-no-padding-bottom
    .container-fluid
      .row.d-flex.align-items-stretch
        .col-lg-4
          // Income
          .wrapper.income.text-center
            .icon
              i.icon-line-chart
            .number 126,418
            strong.text-primary All Income
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.
        .col-lg-4
          // Monthly Usage
          .wrapper.data-usage
            h2.display.h4 Monthly Usage
            .row.d-flex.align-items-center
              .col-sm-6
                #progress-circle.d-flex.align-items-center.justify-content-center
              .col-sm-6
                strong.text-primary 80.56 Gb
                small Current Plan
                span 100 Gb Monthly
            p Lorem ipsum dolor sit amet, consectetur adipisicing.
        .col-lg-4
          // User Actibity
          .wrapper.user-activity
            h2.display.h4 User Activity
            .number 210
            h3.h4.display Social Users
            .progress
              .progress-bar.progress-bar.bg-primary(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
            .page-statistics.d-flex.justify-content-between
              .page-visites
                span Pages Visites
                strong 230
              .new-visites
                span New Visites
                strong 73.4%
  // Updates Section
  section.updates.section-padding
    .container-fluid
      .row
        .col-lg-4.col-md-12
          // Recent Updates
          #new-updates.wrapper.recent-updated
            #updates-header.card-header.d-flex.justify-content-between.align-items-center
              h2.h5.display
                a(data-toggle='collapse', data-parent='#new-updates', href='#updates-box', aria-expanded='true', aria-controls='updates-box') News Updates
              a(data-toggle='collapse', data-parent='#new-updates', href='#updates-box', aria-expanded='true', aria-controls='updates-box')
                i.fa.fa-angle-down
            #updates-box.collapse.show(role='tabpanel')
              ul.news.list-unstyled
                // Item
                li.d-flex.justify-content-between
                  .left-col.d-flex
                    .icon
                      i.icon-rss-feed
                    .title
                      strong Lorem ipsum dolor sit amet.
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                  .right-col.text-right
                    .update-date
                      | 24
                      span.month Jan
                // Item
                li.d-flex.justify-content-between
                  .left-col.d-flex
                    .icon
                      i.icon-rss-feed
                    .title
                      strong Lorem ipsum dolor sit amet.
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                  .right-col.text-right
                    .update-date
                      | 24
                      span.month Jan
                // Item
                li.d-flex.justify-content-between
                  .left-col.d-flex
                    .icon
                      i.icon-rss-feed
                    .title
                      strong Lorem ipsum dolor sit amet.
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                  .right-col.text-right
                    .update-date
                      | 24
                      span.month Jan
                // Item
                li.d-flex.justify-content-between
                  .left-col.d-flex
                    .icon
                      i.icon-rss-feed
                    .title
                      strong Lorem ipsum dolor sit amet.
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                  .right-col.text-right
                    .update-date
                      | 24
                      span.month Jan
                // Item
                li.d-flex.justify-content-between
                  .left-col.d-flex
                    .icon
                      i.icon-rss-feed
                    .title
                      h3.h5 Lorem ipsum dolor sit amet.
                      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                  .right-col.text-right
                    .update-date
                      | 24
                      span.month Jan
        // Daily Feed
        .col-lg-4.col-md-6
          #daily-feeds.wrapper.daily-feeds
            #feeds-header.card-header.d-flex.justify-content-between.align-items-center
              h2.h5.display
                a(data-toggle='collapse', data-parent='#daily-feeds', href='#feeds-box', aria-expanded='true', aria-controls='feeds-box') Your daily Feeds 
              .right-column
                .badge.badge-primary 10 messages
                a(data-toggle='collapse', data-parent='#daily-feeds', href='#feeds-box', aria-expanded='true', aria-controls='feeds-box')
                  i.fa.fa-angle-down
            #feeds-box.collapse.show(role='tabpanel')
              .feed-box
                ul.feed-elements.list-unstyled
                  // List
                  li.clearfix
                    .feed.d-flex.justify-content-between
                      .feed-body.d-flex.justify-content-between
                        a.feed-profile(href='#')
                          img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-5.jpg', alt='person')
                        .content
                          strong Aria Smith
                          small Posted a new blog 
                          .full-date
                            small Today 5:60 pm - 12.06.2014
                      .date
                        small 5min ago
                  // List
                  li.clearfix
                    .feed.d-flex.justify-content-between
                      .feed-body.d-flex.justify-content-between
                        a.feed-profile(href='#')
                          img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-2.jpg', alt='person')
                        .content
                          strong Frank Williams
                          small Posted a new blog 
                          .full-date
                            small Today 5:60 pm - 12.06.2014
                          .CTAs
                            a.btn.btn-xs.btn-dark(href='#')
                              i.fa.fa-thumbs-up  
                              | Like
                            a.btn.btn-xs.btn-dark(href='#')
                              i.fa.fa-heart  
                              | Love
                      .date
                        small 5min ago
                  // List
                  li.clearfix
                    .feed.d-flex.justify-content-between
                      .feed-body.d-flex.justify-content-between
                        a.feed-profile(href='#')
                          img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-3.jpg', alt='person')
                        .content
                          strong Ashley Wood
                          small Posted a new blog 
                          .full-date
                            small Today 5:60 pm - 12.06.2014
                      .date
                        small 5min ago
                  // List
                  li.clearfix
                    .feed.d-flex.justify-content-between
                      .feed-body.d-flex.justify-content-between
                        a.feed-profile(href='#')
                          img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-1.jpg', alt='person')
                        .content
                          strong Jason Doe
                          small Posted a new blog 
                          .full-date
                            small Today 5:60 pm - 12.06.2014
                      .date
                        small 5min ago
                    .card
                      small
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    .CTAs.pull-right
                      a.btn.btn-xs.btn-dark(href='#')
                        i.fa.fa-thumbs-up  
                        | Like
                  // List
                  li.clearfix
                    .feed.d-flex.justify-content-between
                      .feed-body.d-flex.justify-content-between
                        a.feed-profile(href='#')
                          img.img-fluid.rounded-circle(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-6.jpg', alt='person')
                        .content
                          strong Sam Martinez
                          small Posted a new blog 
                          .full-date
                            small Today 5:60 pm - 12.06.2014
                      .date
                        small 5min ago
        // Recent Activities
        .col-lg-4.col-md-6
          #recent-activities-wrapper.wrapper.recent-activities
            #activites-header.card-header.d-flex.justify-content-between.align-items-center
              h2.h5.display
                a(data-toggle='collapse', data-parent='#recent-activities-wrapper', href='#activities-box', aria-expanded='true', aria-controls='activities-box') Recent Activities
              a(data-toggle='collapse', data-parent='#recent-activities-wrapper', href='#activities-box', aria-expanded='true', aria-controls='activities-box')
                i.fa.fa-angle-down
            #activities-box.collapse.show(role='tabpanel')
              ul.activities.list-unstyled
                // Item
                li
                  .row
                    .col-4.date-holder.text-right
                      .icon
                        i.icon-clock
                      .date
                        span 6:00 am
                        span.text-info 6 hours ago
                    .col-8.content
                      strong Meeting
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                // Item
                li
                  .row
                    .col-4.date-holder.text-right
                      .icon
                        i.icon-clock
                      .date
                        span 6:00 am
                        span.text-info 6 hours ago
                    .col-8.content
                      strong Meeting
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                // Item
                li
                  .row
                    .col-4.date-holder.text-right
                      .icon
                        i.icon-clock
                      .date
                        span 6:00 am
                        span.text-info 6 hours ago
                    .col-8.content
                      strong Meeting
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                // Item
                li
                  .row
                    .col-4.date-holder.text-right
                      .icon
                        i.icon-clock
                      .date
                        span 6:00 am
                        span.text-info 6 hours ago
                    .col-8.content
                      strong Meeting
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
  footer.main-footer
    .container-fluid
      .row
        .col-sm-6
          p Your company © 2017-2019
        .col-sm-6.text-right
          p
            | Design by 
            a.external(href='https://bootstrapious.com') Bootstrapious
          // Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)
//- button#style-switch-button.btn.btn-primary.btn-sm.hidden-xs.hidden-sm(type='button', data-toggle='collapse', data-target='#style-switch')
//-   i.fa.fa-cog.fa-2x
//- #style-switch.collapse
//-   h4.mb-3 Select theme colour
//-   form.mb-3
//-     select#colour.form-control(name='colour')
//-       option(value='') select colour variant
//-       option(value='default') green
//-       option(value='pink') pink
//-       option(value='red') red
//-       option(value='violet') violet
//-       option(value='sea') sea
//-       option(value='blue') blue
//-   p
//-     img.img-fluid(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/template-mac.png', alt='')
//-   p.text-muted.text-small
//-     small
//-       | Stylesheet switching is done via JavaScript and can cause a blink while page loads. This will not happen in your production code.
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
script(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/js/charts-home.js')
script(src='https://d19m59y37dris4.cloudfront.net/dashboard/1-1/js/front.js')
